.DS_Store
node_modules/
/dist/
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*

packages/*/package-lock.json
packages/*/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json

# 单侧覆盖率
coverage
.nyc_output